:root {--base-font-size: 1rem;
       --content-max-ch: 72ch;
       --page-gap: 1rem}

@media (min-width: 600px)  {:root {--base-font-size: 1.0625rem}}
@media (min-width: 900px)  {:root {--base-font-size: 1.125rem}}
@media (min-width: 1200px) {:root {--base-font-size: 1.25rem}}

html {font-size: var(--base-font-size);
      box-sizing: border-box;
      background-color: #000}
*, *::before, *::after {box-sizing: inherit}

body {color: #fff;
      font-size: 1rem;
      line-height: 1.5;
      max-width: min(var(--content-max-ch), 95vw);
      margin: calc(var(--page-gap) * 1) auto;
      padding: 0 1rem;
      overflow-wrap: anywhere;
      word-break: break-word}

a {color: #58A6FF}

ul {padding: 0;
    margin-left: 25px;
    list-style-type: disc}

code {background-color: #222;
      padding: 1px 2px;
      border-radius: 4px}
