.site {max-width: 70ch;
       padding-left: 1rem;
       padding-right: 1rem;}

body {background-color: #000;
      color: #fff;
      font-size: 1.5rem;}

a {color: #58A6FF;}

ul {padding: 0;
    margin-left: 30px;}
