:root {--scaling-factor: 1}

@media (min-width: 600px)
  {:root {--scaling-factor: 1.25}}

@media (min-width: 900px)
  {:root {--scaling-factor: 1.5}}

@media (min-width: 1200px)
  {:root {--scaling-factor: 2}}

body {background-color: #000;
      transform: scale(var(--scaling-factor));
      transform-origin: 0 0;
      color: #fff;
      font-size: 1rem;
      max-width: 70ch;
      margin-left: 1rem;
      margin-right: 1rem;}

a {color: #58A6FF}

ul {padding: 0;
    margin-left: 25px}

code {background-color: #222;
      padding: 1px 2px;
      border-radius: 4px;
      font-family: monospace}
