<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style> {% include styles.css %} </style>
    <style> {% include code.css %} </style>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.desc | default: "Grahp's PERSONAL website with all his PERSONAL things!"}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <main id="app">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
    <script type="module" src="/assets/js/app.js"></script>
  </body>
</html>
