<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style> {% include styles.css %} </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% if page.source %}
      <video controls preload="metadata" id="video">
        <source src="{{ '/assets/videos/' | append: page.source | relative_url }}" type="video/mp4">
        No video poopoo
      </video>
    {% endif %}
    <p>{{ page.title }}</p>
    {{ content }}
  </body>
</html>
